*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table tbody td {
  text-align: left !important;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  border-left: none;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
  border-right: none;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.pagination {
  display: flex;
  justify-content: space-between;
}


// pagination
.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;

  &__item {
    padding-bottom: 3px;

    cursor: pointer;

    &.active {
      color: red;
      border-bottom: 1px solid red;
    }
  }
}

// filtering
.filtering {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 20px;
  margin-top: 100px;
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;

  &__input {
    padding: 5px 10px !important;
    font-size: 16px !important;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  &__select {
    padding: 5px 10px !important;
    font-size: 16px !important;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  &__btn {
    padding: 5px 10px !important;
    font-size: 16px !important;
    border: none;
    border-bottom: 1px solid black;
    outline: none;

    &[disabled] {
      background-color: rgb(202, 47, 47);
      z-index: 100;
    }
  }
}

option[value=""] {
  color: rgb(180, 180, 180);
}
